<h1>Ngmodel</h1>
<p>Nombre {{ Person.name }}</p>
<input type="text" #nameInput="ngModel" [(ngModel)]="Person.name">
<p>Valid: {{ nameInput.valid }}</p>

<p>Age {{ Person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="Person.age">
<p>Valid: {{ ageInput.valid }}</p>

<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ Person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid rerum illo id eligendi molestiae, explicabo illum rem minima a inventore consequuntur, beatae reiciendis, mollitia architecto minus sequi sit magnam voluptates.
  Amet quis assumenda laborum aut corrupti, qui aperiam soluta cumque odit sapiente quisquam repellat fugit quibusdam voluptatibus quas ea animi accusantium laboriosam quidem! Voluptatem reprehenderit repellat labore itaque, suscipit nobis?
  Fuga nam reprehenderit officia commodi voluptate nisi laboriosam dolores at sapiente in reiciendis, perspiciatis exercitationem voluptas assumenda quasi quo iure quos adipisci. Alias a doloribus cupiditate dolorem architecto repellendus illo.
  Eos minima numquam iste cum ex sint quas, praesentium repellendus quibusdam, harum natus ipsam. Blanditiis mollitia facilis hic vitae architecto, harum quibusdam facere qui eos suscipit maiores, eligendi nisi officiis!
  Ab itaque pariatur suscipit sapiente tempora soluta? Qui voluptatem ea optio a iure voluptatum quisquam, fugiat aliquid beatae eveniet nam amet molestias porro accusantium, exercitationem maxime, quas iusto dolorem. Ducimus.</p>
</div>
<p>Nombre {{ Person.name }}</p>
<input type="text" [value]="Person.name" (keyup)="changeName($event)">
<hr>
<h2>Propiedades</h2>
<button [disabled]="btnDisabled" >enviar</button>
<input type="text" [value]="name">
<progress max="100" [value]="Person.age"></progress>
<img width="100" [src]="img" alt="">
<hr>
<h2>hola mundo</h2>
<h2>{{ 'hola mundo'.repeat(5) }}</h2>
<p>3 + 2 = {{ 3 + 2 }}</p>
<h3>Hola soy {{ name }} y tengo {{ age }}</h3>
<img src={{img}} alt="platzi">
