<div class="grid grid-cols-3">
  <app-products title="producto 1" [price]="12" imagen="https://picsum.photos/640/640?r=23" />
  <app-products title="producto 2" [price]="12" imagen="https://picsum.photos/640/640?r=22" />
  <app-products title="producto 3" [price]="12" imagen="https://picsum.photos/640/640?r=21" />
  <app-products title="producto 4" [price]="12" imagen="https://picsum.photos/640/640?r=20" />
  <app-products title="producto 5" [price]="12" imagen="https://picsum.photos/640/640?r=19" />
  <app-products title="producto 6" [price]="12" imagen="https://picsum.photos/640/640?r=18" />
</div>
