<div class="grid grid-cols-3 gap-8">
  <app-products title="producto 1" [price]="12" imagen="https://picsum.photos/640/640?r=23" (addToCard)="fromChield($event)" />
  <app-products title="producto 2" [price]="12" imagen="https://picsum.photos/640/640?r=22" (addToCard)="fromChield($event)" />
  <app-products title="producto 3" [price]="12" imagen="https://picsum.photos/640/640?r=21" (addToCard)="fromChield($event)" />
  <app-products title="producto 4" [price]="12" imagen="https://picsum.photos/640/640?r=20" (addToCard)="fromChield($event)" />
  <app-products title="producto 5" [price]="12" imagen="https://picsum.photos/640/640?r=19" (addToCard)="fromChield($event)" />
  <app-products title="producto 6" [price]="12" imagen="https://picsum.photos/640/640?r=18" (addToCard)="fromChield($event)" />
</div>
